<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>My Fitting Room</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.256797050240-p62br7091cl71vssdo09riqu96rbmall</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized ads and improve app experience.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app does not use your location, but this message is required due to included libraries.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to let you select and upload images.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Switzer-Variable.ttf</string>
		<string>Switzer-VariableItalic.ttf</string>
		<string>Satoshi-Variable.ttf</string>
		<string>Satoshi-VariableItalic.ttf</string>
		<string>Switzer-Thin.otf</string>
		<string>Switzer-Italic.otf</string>
		<string>Switzer-Bold.otf</string>
		<string>Switzer-Black.otf</string>
		<string>Switzer-ExtralightItalic.otf</string>
		<string>Switzer-Light.otf</string>
		<string>Switzer-Regular.otf</string>
		<string>Switzer-SemiboldItalic.otf</string>
		<string>Switzer-ExtraboldItalic.otf</string>
		<string>Switzer-LightItalic.otf</string>
		<string>Switzer-BoldItalic.otf</string>
		<string>Switzer-Extralight.otf</string>
		<string>Switzer-Semibold.otf</string>
		<string>Switzer-Extrabold.otf</string>
		<string>Switzer-ThinItalic.otf</string>
		<string>Switzer-MediumItalic.otf</string>
		<string>Switzer-Medium.otf</string>
		<string>Switzer-BlackItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>6g9af3uyq4.skadnetwork</string>
		</dict>
	</array>
</dict>
</plist>
